/* Global */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #303030;
    color: white;
}

/* Navbar */
.nav {
}

/* Header */
.header {
    position: relative;
    height: 50vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    background-color: #0e1726;
}

.header-fill {
    position: relative;
    background-color: white;
    height: 100%;
    width: 100%;
}

.header-img {
    display: block;
    position: relative;
    height: 100%;
    width: auto;
    margin-right: auto;
    text-align: center;
    z-index: 2;
    margin-left: 50%;
    transform: translateX(-50%);
}
.header-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
    z-index: 3;
}
header .container {
    position: relative;
    z-index: 2;
}
.header-text{
    color: white;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 10vh;
    text-align: center;
    transform: translate(-50%, -50%);
}

.footer{
    background: darkgreen;
    height: 10vh;
}

.footer-text{
    color: white;
    position: relative;
    text-align: left;
    margin-left: 5vh;
    top: 50%;
    transform: translateY(-50%);
}
/* Content */
.content {
    text-align: center;
    margin: 3vh 5vw 2vh;
    font-size: 1em;
    color: aliceblue;
}
.content-blue{
    text-align: center;
    font-size: 1em;
    color: white;
    background-color: darkslateblue;
}


.text-on-img{
    color: white;
    position: absolute;
    font-size: 1.5vh;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-background{
    filter: blur(3px);
    display: block;
    width: auto;
    max-width: 100%;
    height: 42vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.vid{
    z-index: 1;
    filter: blur(3px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: auto;
    height: 100%;
}