/* Navbar */
.navbar {
    background: darkgreen;
    color: orange;
    height: 100%;
}

.navbar-brand,
.nav-link {
    color: white;
}

.navbar-brand:hover,
.nav-link:hover {
    color: cadetblue;
}

.header-ext {
    font-size: 1ex;
}

.wht {
    color: white;
    background-color: black;
}