/* Navbar */
.navbar {
    z-index: 10;

    background: darkgreen;
    color: orange;
    height: 7vh;
    top:0;
    width:100%;
    position: sticky;
}

.navbar-collapse{
    width: 100vw;
    background: darkgreen;
}

.navbar-brand,
.nav-link {
    color: white;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.navbar-brand:hover,
.nav-link:hover {
    color: cadetblue;
}

.header-ext {
    font-size: 1ex;
}

.nav-ico {
    height: 1vh;
    width: auto;
    margin: 0;
    transform: translateY(-25%);
}

.wht {
    color: white;
    background-color: black;
}