/* Navbar */
.navbar {
    background: darkgreen;
    color: orange;
    height: 100%;
}

.navbar-brand,
.nav-link {
    color: white;
}

.navbar-brand:hover,
.nav-link:hover {
    color: cadetblue;
}

.header-ext {
    font-size: 1ex;
}

.nav-ico {
    height: 1vh;
    width: auto;
    margin: 0;
    transform: translateY(-25%);
}

.wht {
    color: white;
    background-color: black;
}