.node{
    border-radius: 50%;
    background-color: aquamarine;
    width: 10vw;
    height: 10vw;
}

.node-text{
    position: relative;
    text-align: center;
    font-size: 1em;
    color: brown;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.node:hover{
    background-color: mediumaquamarine;
    color: azure;
}
.popup{
}

.popup:hover .popup-text{
    visibility: visible;
}

.popup:not(:hover) .popup-text{
    visibility: hidden;
}

.popup .popup-text{
    overflow:auto;
    border-radius:5%;
    transform: translate(-25%, -75%);
    display: block;
    width: 20vw;
    background-color: gray;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1;
}
